---
import type { GetStaticPaths } from "astro";

import Layout from "../../../layouts/Layout.astro";
import TreeElement from "../../../components/TreeElement.astro";
import PostPreview from "../../../components/PostPreview.astro";
import SidePanel from "../../../components/layout/SidePanel.astro";
import * as content from "../../../lib/content";

export const getStaticPaths = (async () => {
  const tags = await content.getPosts("legacy").then(content.countTags);
  return tags.map(([tag]) => ({
    params: { tag },
    props: { tags },
  }));
}) satisfies GetStaticPaths;

const { tag } = Astro.params;
const { tags } = Astro.props;

const posts = await content.getPosts("legacy").then(content.inTag(tag));
const links = tags.map((tag) => ({
  href: `/legacy/tag/${tag[0]}/`,
  text: `#${tag[0]}`,
}));
---

<Layout title={`Legacy Tag #${tag}`}>
  <SidePanel links={links} cmd={`blog list --legacy --tag`} slot="side-panel" />
  <p>$ blog tree --legacy --tag {tag.includes(" ") ? `'${tag}'` : tag}</p>
  <div>
    {
      posts.map((post) => (
        <TreeElement>
          <PostPreview {...post} />
        </TreeElement>
      ))
    }
  </div>
</Layout>
