---
import { type GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import TreeElement from "../../components/TreeElement.astro";
import SidePanel from "../../components/layout/SidePanel.astro";
import PostPreview from "../../components/PostPreview.astro";
import { config } from "../../site.config";

export const prerender = true;

export const getStaticPaths = (async () => {
  const collections = await getCollection("blog");
  const years = [
    ...new Set(collections.map((post) => post.data.publishDate.getFullYear())),
  ].sort((a, b) => b - a);

  return years.map((year) => ({
    params: { year },
    props: { years },
  }));
}) satisfies GetStaticPaths;

const posts = await getCollection("blog").then((posts) =>
  posts
    .toSorted(
      (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
    )
    .filter(
      (post) =>
        post.data.publishDate.getFullYear() === Number(Astro.params.year),
    ),
);

const { year } = Astro.params;
const { years } = Astro.props;

const links = years.map((year) => ({
  href: `/blog/${year}/`,
  text: `${year}`,
}));
---

<Layout title={`Blog in ${year}`} description={config.description}>
  <SidePanel links={links} slot="side-panel" cmd={`ls /blog/ | years`} />
  <section>
    <p>$ tree /blog --year {year}</p>
    <div>
      {
        posts.map((post, index) => (
          <TreeElement isLast={index == posts.length - 1}>
            <PostPreview {...post} />
          </TreeElement>
        ))
      }
    </div>
  </section>
</Layout>
