---
import { base } from "astro:config/client";
import { join } from "path";

const rss = join(base, "rss.xml");
---

<!-- NOTE: script 放前面是為了避免 <body> 上的 divide class 在 <footer> 最後面在加上 border，因為 CSS 會認為 <footer> 不是最後一個元素 -->
<script>
  class RandomWalker {
    value: number;
    rate: number;
    upper: number;
    lower: number;
    element: HTMLElement | null;
    render: (rw: RandomWalker) => string;

    constructor(
      value: number,
      rate: number,
      upper: number,
      lower: number,
      render: (rw: RandomWalker) => string,
      element: HTMLElement | null,
    ) {
      this.value = value;
      this.rate = rate;
      this.upper = upper;
      this.lower = lower;
      this.element = element;
      this.render = render;
    }

    update() {
      this.value += ((Math.random() - 0.5) / 0.5) * this.rate;
      if (this.value > this.upper) this.value = this.upper;
      if (this.value < this.lower) this.value = this.lower;

      if (this.element) {
        this.element.textContent = this.render(this);
      }
    }
  }

  const cpuEle = document.getElementById("cpu");
  const memEle = document.getElementById("mem");

  let now = new Date();
  const cpu = new RandomWalker(
    3,
    5,
    40,
    10,
    (rw) => `${rw.value.toFixed(0)}%`,
    cpuEle,
  );
  const mem = new RandomWalker(
    10,
    10,
    50,
    5,
    (rw) => `${rw.value.toFixed(0)}%`,
    memEle,
  );

  function update() {
    now = new Date();
    cpu.update();
    mem.update();

    const timeEle = document.getElementById("current-time");
    if (timeEle) {
      const hour = now.getHours().toFixed(0).padStart(2, "0");
      const minute = now.getMinutes().toFixed(0).padStart(2, "0");
      const second = now.getSeconds().toFixed(0).padStart(2, "0");
      timeEle.textContent = `${hour}:${minute}:${second}`;
    }
  }

  setInterval(update, 1000);
</script>
<footer
  class="flex flex-col items-center justify-between p-2 text-sm sm:flex-row"
>
  <div>
    <a href={rss} class="text-terminal-accent font-bold" target="_blank">RSS</a>
    <a
      href="https://github.com/simbafs"
      class="text-terminal-accent font-bold"
      target="_blank">GitHub</a
    >
  </div>
  <div class="text-terminal-accent *:text-terminal-secondary font-bold">
    CPU: <span id="cpu" class="text-terminal-tertiary">3%</span>
    Mem: <span id="mem" class="text-terminal-tertiary">10%</span>
    <span id="current-time" class="text-terminal-secondary">--:--:--</span>
  </div>
</footer>
