---
import { type CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

type Props = CollectionEntry<"blog"> & {
  isLast?: boolean;
};
---

<div class="group flex">
  <div class="group mr-2 grid w-10 grid-cols-2 grid-rows-[1rem_1fr]">
    <div class="border-r-terminal-secondary border-r-2"></div>
    <div class="border-b-terminal-secondary border-b-2"></div>
    {
      Astro.props.isLast ? (
        <div />
      ) : (
        <div class="group-not-last:border-r-terminal-secondary group-not-last:border-r-2" />
      )
    }
    <div></div>
  </div>
  <div class="mb-4 w-full">
    <a href={`/blog/${Astro.props.id}/`}>
      <h4 class="font-bold">{Astro.props.data.title}</h4>
      <p class="date text-terminal-tertiary">
        <FormattedDate date={Astro.props.data.publishDate} />
      </p>
    </a>
    <div class="flex gap-2 italic">
      {Astro.props.data.tags.map((tag) => <span>#{tag}</span>)}
    </div>
    <p class="text-terminal-secondary text-sm">
      {Astro.props.data.description}
    </p>
  </div>
</div>
