---
import type { MarkdownHeading } from "astro";
import type { CollectionEntry } from "astro:content";

import SidePanel from "../components/layout/SidePanel.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Tag from "../components/Tag.astro";
import Layout from "../layouts/Layout.astro";

type Blog = CollectionEntry<"blog">["data"];
interface Props extends Blog {
  headings: MarkdownHeading[];
  id: string;
  legacy?: boolean;
}

const {
  title,
  description,
  publishDate,
  updatedDate,
  heroImage,
  tags,
  headings,
  id,
  legacy,
} = Astro.props;

const links = headings.map((heading) => {
  return {
    text: "#".repeat(heading.depth) + " " + heading.text,
    href: `#${heading.slug}`,
  };
});
---

<Layout title={title} description={description}>
  <SidePanel
    links={links}
    cmd={`blog view --heading ${id}`}
    slot="side-panel"
  />
  <article>
    <p>$ blog view {id}</p>

    <div class="p-4">
      {
        heroImage && (
          <img
            width={1020}
            height={510}
            src={heroImage}
            alt=""
            class="shadow-terminal-secondary block rounded-2xl shadow-xl"
          />
        )
      }
    </div>
    <!-- TODO: use my color palette -->
    <div
      class="prose prose-img:rounded-lg dark:prose-invert md:prose-lg mx-auto my-0 w-[720px] max-w-[calc(100%-2em)] p-4"
      data-pagefind-body
    >
      <div class="mt-8 mb-4 py-4 text-center">
        <h1>{title}</h1>
        <div class="date">
          <FormattedDate date={publishDate} />
          {
            updatedDate && (
              <div class="italic">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        {
          tags && (
            <div class="flex flex-wrap justify-center gap-2">
              {tags.map((tag) => (
                <Tag tag={tag} legacy={legacy} />
              ))}
            </div>
          )
        }
        <hr class="border-terminal-secondary" />
      </div>
      <slot />
    </div>
  </article>
</Layout>
